about-time==4.2.1
accelerate==1.3.0
ace_tools==0.0
ace_tools_open==0.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.7.0
aiosignal==1.3.2
airportsdata==20241001
alembic==1.18.4
alive-progress==3.2.0
altair==5.5.0
annotateai==0.2.0
annotated-types==0.7.0
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.4
attrs==25.1.0
autoawq==0.2.8
autograd==1.7.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bertviz==1.4.0
bitsandbytes==0.45.2
blake3==1.0.2
bleach==6.2.0
blinker==1.9.0
blis==1.1.0
boto3==1.38.19
botocore==1.38.19
branca==0.8.1
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
build==1.3.0
cachetools==5.5.1
catalogue==2.0.10
certifi==2024.12.14
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560558132/work
charset-normalizer==3.4.1
chromadb==1.0.20
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
cma==3.2.2
coloredlogs==15.0.1
colorful==0.5.6
comm==0.2.2
compressed-tensors==0.8.1
confection==0.1.5
conllu==6.0.0
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.10
dash==4.1.0
dash-bootstrap-components==2.0.4
databricks-sdk==0.94.0
dataclasses-json==0.6.7
datasets==3.2.0
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
docker==7.1.0
docopt==0.6.2
durationpy==0.10
ecdsa==0.19.2
einops==0.8.0
elastic-transport==9.4.1
elasticsearch==9.4.1
emoji==2.14.1
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
et_xmlfile==2.0.0
evaluate==0.4.3
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing==2.2.0
faiss-cpu==1.9.0.post1
fastapi==0.115.6
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.2.10
folium==0.19.4
fonttools==4.55.6
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
gdown==5.2.0
gensim==4.3.3
gguf==0.10.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.0
google-auth==2.37.0
googleapis-common-protos==1.66.0
GPUtil==1.4.0
gradio==5.13.1
gradio_client==1.6.0
grapheme==0.6.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.69.0
gunicorn==25.1.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hdbscan==0.8.40
hf-xet==1.5.1
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huey==2.6.0
huggingface_hub==0.36.2
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna==3.10
imageio==2.37.0
importlib_metadata==8.5.0
importlib_resources==6.5.2
iniconfig==2.0.0
interegular==0.3.3
ipdb==0.13.13
ipykernel==6.29.5
ipympl==0.9.7
ipython==8.32.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
isoduration==20.11.0
itables==2.2.4
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json5==0.10.0
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jstyleson==0.0.2
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
jupytext==1.17.0
kaleido==0.2.1
kiwisolver==1.4.8
kubernetes==33.1.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-text-splitters==0.3.9
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.6.6
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.3
langsmith==0.4.16
language_data==1.3.0
lark==1.2.2
latexcodec==3.0.0
linkify-it-py==2.0.3
llvmlite==0.44.0
lm-format-enforcer==0.10.9
lxml==5.3.0
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
memray==1.15.0
mistral_common==1.5.1
mistune==3.1.0
mlflow==3.10.0
mlflow-skinny==3.10.0
mlflow-tracing==3.10.0
mmh3==5.2.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.11
mypy_extensions==1.1.0
narwhals==1.24.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nbstripout==0.9.1
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.3
nltk==3.9.1
nncf==2.15.0
notebook_shim==0.2.4
numba==0.61.2
numpy==2.3.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-ml-py==12.560.30
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
ollama==0.5.3
onnx==1.17.0
onnxruntime==1.22.1
openai==1.60.2
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
openvino==2025.0.0
openvino-telemetry==2025.0.0
optimum==1.24.0
optimum-intel==1.21.0
orjson==3.10.15
ormsgpack==1.10.0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==3.5.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
passlib==1.7.4
patsy==1.0.2
pdf-annotate==0.12.0
pdfminer.six==20250327
pdfplumber==0.11.6
pdfrw==0.4
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.3.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///opt/conda/envs/env/conda-bld/plotly_1726152651141/work/packages/python/plotly/dist/plotly-5.24.1.tar.gz#sha256=7f07a2b089ff9a06d36218b1384821fdff860a9dbffa85d7f8d10d98ae95e1b1
pluggy==1.5.0
posthog==5.4.0
preshed==3.0.9
prettytable==3.17.0
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.25.0
protobuf==6.33.5
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1735327333081/work
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl#sha256=2561c9a72a938d37141e9694e1a36d25061a44ce7e4f3bad2d3fa3bb836191af
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybase64==1.4.2
pybind11==2.13.6
pybtex==0.24.0
pyconll==3.2.0
pycountry==24.6.1
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.27.2
pydeck==0.9.1
pydicom==3.0.1
pydot==2.0.0
pydub==0.25.1
Pygments==2.19.1
pymoo==0.6.1.3
PyMuPDF==1.26.0
PyNaCl==1.5.0
pynndescent==0.5.13
pypandoc==1.15
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.5.0
python-json-logger==3.2.1
python-multipart==0.0.20
pytils==0.4.1
pytz==2024.2
pyvis==0.3.2
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1725456134219/work
pyzmq==26.2.0
RapidFuzz==3.13.0
ray==2.40.0
rdflib==7.6.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.27.0
rsa==4.9
ruff==0.9.3
s3transfer==0.12.0
safehttpx==0.1.6
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentencepiece==0.2.0
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
skops==0.13.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soupsieve==2.6
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.43
sqlparse==0.5.5
squarify==0.4.4
srsly==2.5.0
stack-data==0.6.3
stanza==1.10.1
starlette==0.41.3
statsmodels==0.14.6
streamlit==1.41.1
streamlit_folium==0.24.0
structlog==26.1.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
textual==1.0.0
thinc==8.3.3
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.21.4
toml==0.10.2
tomlkit==0.13.2
tools==0.1.9
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.0
triton==3.1.0
txtai==8.2.0
txtmarker==1.1.0
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1724952043681/work
uc-micro-py==1.0.3
umap-learn==0.5.7
Unidecode==1.4.0
uri-template==1.3.0
urllib3==2.3.0
user_agent==0.1.10
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.29.1
vllm==0.6.6.post1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
weblib==0.1.30
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.6
wheel==0.45.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
wordcloud==1.9.4
wrapt==1.17.2
xformers==0.0.28.post3
xgrammar==0.1.10
xlrd==1.2.0
XlsxWriter==3.2.2
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
